.Flat_Container_Box {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .ContainerFlat {
    display: flex;
    gap: 10px;
  }
  .FlatHeading {
    font-size: 18px;
    margin-top: 5px;
  }
  .FlatTextField {
    width: auto;
    /* margin-left: 10px; */
    margin-top: -5px;
  }
  .Wrapper_Flat {
    display: flex;
    flex-direction: column;
  flex: 1;
  }
  .Flat_Container {
    flex: 1;
  }
  .FlatButtons{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 40px;
  }
  
  