.Percentage_Container_Box {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .ContainerPercentage {
    display: flex;
    gap: 10px;
  }
  .PercentageHeading {
    font-size: 18px;
    margin-top: 5px;
  }
  .PercentageTextField {
    width: auto;
    /* margin-left: 10px; */
    margin-top: -5px;
  }
  .Wrapper_Percentage {
    display: flex;
    flex-direction: column;
  flex: 1;
  }
  .Percentage_Container {
    flex: 1;
  }
  .PercentageButtons{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 40px;
  }
  
  